body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-355px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u10801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
.u10801 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:0px;
  width:59px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
.u10801 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u10801_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u10802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
.u10802 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:0px;
  width:85px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
.u10802 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u10802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u10803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
.u10803 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:3px;
  width:18px;
  height:12px;
  display:flex;
}
.u10803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u10803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10800-1 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:170px;
  height:19px;
}
#u10800-2 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:0px;
  width:170px;
  height:19px;
}
#u10800-3 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:170px;
  height:19px;
}
#u10800-4 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:170px;
  height:19px;
}
#u10800 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:41px;
  width:700px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
