body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2746px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:969px;
}
#u8663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:969px;
  display:flex;
}
#u8663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:51px;
}
#u8664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:254px;
  width:257px;
  height:51px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u8665 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:267px;
  width:36px;
  height:26px;
  display:flex;
}
#u8665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8666 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:107px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8666 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8666_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1614px;
  height:781px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8667 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:162px;
  width:1614px;
  height:781px;
  display:flex;
  text-align:left;
}
#u8667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u8669 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:181px;
  width:599px;
  height:19px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u8669 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8669_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u8670 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:180px;
  width:30px;
  height:20px;
  display:flex;
}
#u8670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u8671 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:178px;
  width:23px;
  height:23px;
  display:flex;
}
#u8671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u8672 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:175px;
  width:26px;
  height:25px;
  display:flex;
}
#u8672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u8673 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:176px;
  width:22px;
  height:23px;
  display:flex;
}
#u8673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8674 {
  border-width:0px;
  position:absolute;
  left:1772px;
  top:176px;
  width:86px;
  height:29px;
  display:flex;
}
#u8674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8675_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8675 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:240px;
  width:113px;
  height:29px;
  display:flex;
}
#u8675 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8675_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8675.disabled {
}
.u8675_input_option {
}
#u8676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1617px;
  height:2px;
}
#u8676 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:217px;
  width:1616px;
  height:1px;
  display:flex;
}
#u8676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8677 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:246px;
  width:56px;
  height:16px;
  display:flex;
}
#u8677 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8677_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8678_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8678_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8678 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:240px;
  width:300px;
  height:29px;
  display:flex;
}
#u8678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8678_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8678.disabled {
}
#u8679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8679 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:240px;
  width:72px;
  height:29px;
  display:flex;
}
#u8679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u8681 {
  border-width:0px;
  position:absolute;
  left:1618px;
  top:238px;
  width:84px;
  height:17px;
  display:flex;
  color:#169BD5;
}
#u8681 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8681_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u8682 {
  border-width:0px;
  position:absolute;
  left:1714px;
  top:238px;
  width:1px;
  height:15px;
  display:flex;
}
#u8682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u8683 {
  border-width:0px;
  position:absolute;
  left:1729px;
  top:239px;
  width:42px;
  height:16px;
  display:flex;
  color:#169BD5;
}
#u8683 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8683_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u8684 {
  border-width:0px;
  position:absolute;
  left:1778px;
  top:238px;
  width:1px;
  height:15px;
  display:flex;
}
#u8684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u8685 {
  border-width:0px;
  position:absolute;
  left:1797px;
  top:239px;
  width:56px;
  height:16px;
  display:flex;
  color:#169BD5;
}
#u8685 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8685_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8686 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:782px;
  width:1px;
  height:16px;
  display:flex;
}
#u8686 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8686_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:553px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8689 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:315px;
  width:336px;
  height:553px;
  display:flex;
}
#u8689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:393px;
}
#u8690 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:332px;
  width:300px;
  height:393px;
  display:flex;
}
#u8690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8691 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:733px;
  width:138px;
  height:16px;
  display:flex;
}
#u8691 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8691_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8692 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:758px;
  width:201px;
  height:16px;
  display:flex;
}
#u8692 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8692_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8693 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:788px;
  width:108px;
  height:16px;
  display:flex;
}
#u8693 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8693_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8694 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:787px;
  width:140px;
  height:16px;
  display:flex;
  color:#000000;
}
#u8694 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8694_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8695 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:741px;
  width:56px;
  height:16px;
  display:flex;
}
#u8695 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8695_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:27px;
  background:inherit;
  background-color:rgba(247, 180, 180, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8697 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:820px;
  width:83px;
  height:27px;
  display:flex;
  color:#FF0000;
}
#u8697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:22px;
}
#u8698 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:822px;
  width:14px;
  height:22px;
  display:flex;
}
#u8698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(222, 205, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF7E00;
}
#u8700 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:820px;
  width:78px;
  height:27px;
  display:flex;
  color:#FF7E00;
}
#u8700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u8701 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:824px;
  width:14px;
  height:19px;
  display:flex;
}
#u8701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:553px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8704 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:315px;
  width:336px;
  height:553px;
  display:flex;
}
#u8704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:393px;
}
#u8705 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:332px;
  width:300px;
  height:393px;
  display:flex;
}
#u8705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8706 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:733px;
  width:138px;
  height:16px;
  display:flex;
}
#u8706 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8706_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8707 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:758px;
  width:201px;
  height:16px;
  display:flex;
}
#u8707 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8707_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8708 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:788px;
  width:108px;
  height:16px;
  display:flex;
}
#u8708 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8708_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8709 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:787px;
  width:140px;
  height:16px;
  display:flex;
  color:#000000;
}
#u8709 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8709_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8710 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:741px;
  width:56px;
  height:16px;
  display:flex;
}
#u8710 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8710_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:27px;
  background:inherit;
  background-color:rgba(247, 180, 180, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8712 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:820px;
  width:83px;
  height:27px;
  display:flex;
  color:#FF0000;
}
#u8712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:22px;
}
#u8713 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:822px;
  width:14px;
  height:22px;
  display:flex;
}
#u8713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(222, 205, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF7E00;
}
#u8715 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:820px;
  width:78px;
  height:27px;
  display:flex;
  color:#FF7E00;
}
#u8715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u8716 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:824px;
  width:14px;
  height:19px;
  display:flex;
}
#u8716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:553px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8719 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:315px;
  width:336px;
  height:553px;
  display:flex;
}
#u8719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:393px;
}
#u8720 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:332px;
  width:300px;
  height:393px;
  display:flex;
}
#u8720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8721 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:733px;
  width:138px;
  height:16px;
  display:flex;
}
#u8721 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8721_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8722 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:758px;
  width:201px;
  height:16px;
  display:flex;
}
#u8722 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8722_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8723 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:788px;
  width:108px;
  height:16px;
  display:flex;
}
#u8723 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8723_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8724 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:787px;
  width:140px;
  height:16px;
  display:flex;
  color:#000000;
}
#u8724 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8724_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8725 {
  border-width:0px;
  position:absolute;
  left:1387px;
  top:741px;
  width:56px;
  height:16px;
  display:flex;
}
#u8725 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8725_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:27px;
  background:inherit;
  background-color:rgba(247, 180, 180, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8727 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:820px;
  width:83px;
  height:27px;
  display:flex;
  color:#FF0000;
}
#u8727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:22px;
}
#u8728 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:822px;
  width:14px;
  height:22px;
  display:flex;
}
#u8728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(222, 205, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF7E00;
}
#u8730 {
  border-width:0px;
  position:absolute;
  left:1302px;
  top:820px;
  width:78px;
  height:27px;
  display:flex;
  color:#FF7E00;
}
#u8730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u8731 {
  border-width:0px;
  position:absolute;
  left:1311px;
  top:824px;
  width:14px;
  height:19px;
  display:flex;
}
#u8731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:553px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8734 {
  border-width:0px;
  position:absolute;
  left:1517px;
  top:315px;
  width:336px;
  height:553px;
  display:flex;
}
#u8734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:393px;
}
#u8735 {
  border-width:0px;
  position:absolute;
  left:1535px;
  top:332px;
  width:300px;
  height:393px;
  display:flex;
}
#u8735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8736 {
  border-width:0px;
  position:absolute;
  left:1536px;
  top:733px;
  width:138px;
  height:16px;
  display:flex;
}
#u8736 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8736_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8737 {
  border-width:0px;
  position:absolute;
  left:1536px;
  top:758px;
  width:201px;
  height:16px;
  display:flex;
}
#u8737 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8737_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8738 {
  border-width:0px;
  position:absolute;
  left:1533px;
  top:788px;
  width:108px;
  height:17px;
  display:flex;
}
#u8738 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8738_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8739 {
  border-width:0px;
  position:absolute;
  left:1702px;
  top:787px;
  width:140px;
  height:16px;
  display:flex;
  color:#000000;
}
#u8739 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8739_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8740 {
  border-width:0px;
  position:absolute;
  left:1779px;
  top:741px;
  width:56px;
  height:16px;
  display:flex;
}
#u8740 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8740_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:27px;
  background:inherit;
  background-color:rgba(247, 180, 180, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8742 {
  border-width:0px;
  position:absolute;
  left:1570px;
  top:820px;
  width:83px;
  height:27px;
  display:flex;
  color:#FF0000;
}
#u8742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:22px;
}
#u8743 {
  border-width:0px;
  position:absolute;
  left:1581px;
  top:822px;
  width:14px;
  height:22px;
  display:flex;
}
#u8743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(222, 205, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF7E00;
}
#u8745 {
  border-width:0px;
  position:absolute;
  left:1694px;
  top:820px;
  width:78px;
  height:27px;
  display:flex;
  color:#FF7E00;
}
#u8745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u8746 {
  border-width:0px;
  position:absolute;
  left:1702px;
  top:824px;
  width:14px;
  height:19px;
  display:flex;
}
#u8746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:47px;
}
#u8747 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:353px;
  width:42px;
  height:47px;
  display:flex;
}
#u8747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:47px;
}
#u8748 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:353px;
  width:34px;
  height:47px;
  display:flex;
}
#u8748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:52px;
}
#u8749 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:353px;
  width:66px;
  height:52px;
  display:flex;
}
#u8749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:969px;
}
#u8750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:969px;
  display:flex;
}
#u8750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:352px;
}
#u8752 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:142px;
  width:269px;
  height:352px;
  display:flex;
}
#u8752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8753 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:507px;
  width:208px;
  height:43px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8753 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:499px;
}
#u8754 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:142px;
  width:358px;
  height:499px;
  display:flex;
}
#u8754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8755 label {
  left:0px;
  width:100%;
}
#u8755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:12px;
  height:12px;
}
#u8755 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:659px;
  width:261px;
  height:22px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F2F2F2;
}
#u8755 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8755_img.selected {
}
#u8755.selected {
}
#u8755_img.disabled {
}
#u8755.disabled {
}
#u8755_img.selectedDisabled {
}
#u8755.selectedDisabled {
}
#u8755_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:245px;
  word-wrap:break-word;
  text-transform:none;
}
#u8755_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u8756 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:722px;
  width:130px;
  height:38px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u8756 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8756_img.mouseOver {
}
#u8756.mouseOver {
  opacity:0.8;
}
#u8756_img.mouseDown {
}
#u8756.mouseDown {
  opacity:1;
}
#u8756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u8757 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:722px;
  width:130px;
  height:38px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u8757 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8757_img.mouseOver {
}
#u8757.mouseOver {
  opacity:0.8;
}
#u8757_img.mouseDown {
}
#u8757.mouseDown {
  opacity:1;
}
#u8757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u8758 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:722px;
  width:130px;
  height:38px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u8758 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8758_img.mouseOver {
}
#u8758.mouseOver {
  opacity:0.8;
}
#u8758_img.mouseDown {
}
#u8758.mouseDown {
  opacity:1;
}
#u8758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:838px;
  height:549px;
}
#u8759 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:117px;
  width:838px;
  height:549px;
  display:flex;
}
#u8759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u8760 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:804px;
  width:100px;
  height:59px;
  display:flex;
}
#u8760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8761 {
  border-width:0px;
  position:absolute;
  left:1979px;
  top:435px;
  width:300px;
  height:21px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8761 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8762 {
  border-width:0px;
  position:absolute;
  left:1977px;
  top:43px;
  width:66px;
  height:22px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8762 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8762_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:4px;
}
#u8763 {
  border-width:0px;
  position:absolute;
  left:1977px;
  top:65px;
  width:24px;
  height:4px;
  display:flex;
  font-size:16px;
}
#u8763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:16px;
}
#u8764 {
  border-width:0px;
  position:absolute;
  left:1977px;
  top:80px;
  width:435px;
  height:300px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:16px;
}
#u8764 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:16px;
}
#u8765 {
  border-width:0px;
  position:absolute;
  left:1956px;
  top:280px;
  width:790px;
  height:193px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:16px;
}
#u8765 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8765_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8766 {
  border-width:0px;
  position:absolute;
  left:1975px;
  top:435px;
  width:588px;
  height:22px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8766 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8766_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8767 {
  border-width:0px;
  position:absolute;
  left:1956px;
  top:488px;
  width:335px;
  height:22px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8767 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8767_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
