body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1177px;
}
#u8608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1177px;
  display:flex;
}
#u8608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:51px;
}
#u8609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:254px;
  width:257px;
  height:51px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u8610 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:267px;
  width:36px;
  height:26px;
  display:flex;
}
#u8610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8611 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:131px;
  width:166px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8611 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8611_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1614px;
  height:1210px;
}
#u8612 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:194px;
  width:1614px;
  height:1210px;
  display:flex;
  text-align:left;
}
#u8612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1617px;
  height:2px;
}
#u8613 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:254px;
  width:1616px;
  height:1px;
  display:flex;
}
#u8613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8614 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:782px;
  width:1px;
  height:16px;
  display:flex;
}
#u8614 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8614_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u8617 {
  border-width:0px;
  position:absolute;
  left:1775px;
  top:1236px;
  width:32px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u8617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u8619 {
  border-width:0px;
  position:absolute;
  left:1735px;
  top:1236px;
  width:32px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#666666;
}
#u8619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8620 {
  border-width:0px;
  position:absolute;
  left:1744px;
  top:1245px;
  width:14px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
}
#u8620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u8622 {
  border-width:0px;
  position:absolute;
  left:1820px;
  top:1236px;
  width:32px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#666666;
}
#u8622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8623 {
  border-width:0px;
  position:absolute;
  left:1829px;
  top:1245px;
  width:14px;
  height:14px;
  display:flex;
  opacity:0.400000005960464;
}
#u8623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u8624 {
  border-width:0px;
  position:absolute;
  left:1628px;
  top:1241px;
  width:88px;
  height:22px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u8624 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8624_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u8626 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:215px;
  width:581px;
  height:19px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u8626 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8626_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8627_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8627_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
}
#u8627 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:279px;
  width:300px;
  height:29px;
  display:flex;
  color:#797979;
}
#u8627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8627_img.disabled {
}
#u8627.disabled {
}
#u8628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:29px;
}
#u8628 {
  border-width:0px;
  position:absolute;
  left:1576px;
  top:279px;
  width:72px;
  height:29px;
  display:flex;
}
#u8628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u8629 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:285px;
  width:98px;
  height:16px;
  display:flex;
  color:#797979;
}
#u8629 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8629_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8630_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8630_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:29px;
}
#u8630 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:279px;
  width:162px;
  height:29px;
  display:flex;
  color:#797979;
}
#u8630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8630_img.disabled {
}
#u8630.disabled {
}
#u8631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u8631 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:285px;
  width:56px;
  height:16px;
  display:flex;
  color:#797979;
}
#u8631 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8631_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u8633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u8634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
.u8634 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:0px;
  width:148px;
  height:30px;
  display:flex;
  color:#08A3D9;
}
.u8634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
.u8635 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:11px;
  width:14px;
  height:9px;
  display:flex;
  color:#08A3D9;
}
.u8635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(8, 163, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#08A3D9;
}
.u8636 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:5px;
  width:46px;
  height:20px;
  display:flex;
  color:#08A3D9;
}
.u8636 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8636_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u8637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(8, 163, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#08A3D9;
}
.u8637 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:5px;
  width:60px;
  height:20px;
  display:flex;
  color:#08A3D9;
}
.u8637 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8637_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u8638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u8639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:139px;
}
.u8639 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:30px;
  width:148px;
  height:139px;
  display:flex;
  color:#797979;
}
.u8639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u8641 label {
  left:0px;
  width:100%;
}
.u8641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
.u8641 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:42px;
  width:100px;
  height:15px;
  display:flex;
  color:#797979;
}
.u8641 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u8641_img.selected {
}
.u8641.selected {
}
.u8641_img.disabled {
}
.u8641.disabled {
}
.u8641_img.selectedDisabled {
}
.u8641.selectedDisabled {
}
.u8641_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
.u8641_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
.u8642 label {
  left:0px;
  width:100%;
}
.u8642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
.u8642 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:63px;
  width:100px;
  height:15px;
  display:flex;
  color:#797979;
}
.u8642 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u8642_img.selected {
}
.u8642.selected {
}
.u8642_img.disabled {
}
.u8642.disabled {
}
.u8642_img.selectedDisabled {
}
.u8642.selectedDisabled {
}
.u8642_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
.u8642_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
.u8643 label {
  left:0px;
  width:100%;
}
.u8643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
.u8643 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:83px;
  width:100px;
  height:15px;
  display:flex;
  color:#797979;
}
.u8643 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u8643_img.selected {
}
.u8643.selected {
}
.u8643_img.disabled {
}
.u8643.disabled {
}
.u8643_img.selectedDisabled {
}
.u8643.selectedDisabled {
}
.u8643_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
.u8643_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
.u8644 label {
  left:0px;
  width:100%;
}
.u8644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
.u8644 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:102px;
  width:100px;
  height:15px;
  display:flex;
  color:#797979;
}
.u8644 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u8644_img.selected {
}
.u8644.selected {
}
.u8644_img.disabled {
}
.u8644.disabled {
}
.u8644_img.selectedDisabled {
}
.u8644.selectedDisabled {
}
.u8644_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
.u8644_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
.u8645 label {
  left:0px;
  width:100%;
}
.u8645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
.u8645 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:122px;
  width:100px;
  height:15px;
  display:flex;
  color:#797979;
}
.u8645 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u8645_img.selected {
}
.u8645.selected {
}
.u8645_img.disabled {
}
.u8645.disabled {
}
.u8645_img.selectedDisabled {
}
.u8645.selectedDisabled {
}
.u8645_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
.u8645_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
.u8646 label {
  left:0px;
  width:100%;
}
.u8646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
.u8646 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:142px;
  width:100px;
  height:15px;
  display:flex;
  color:#797979;
}
.u8646 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u8646_img.selected {
}
.u8646.selected {
}
.u8646_img.disabled {
}
.u8646.disabled {
}
.u8646_img.selectedDisabled {
}
.u8646.selectedDisabled {
}
.u8646_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
.u8646_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
.u8647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
.u8647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:42px;
  height:16px;
  display:flex;
  color:#797979;
}
.u8647 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8647_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8632-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
.u8641 label {
  left:0px;
  width:100%;
}
.u8642 label {
  left:0px;
  width:100%;
}
.u8643 label {
  left:0px;
  width:100%;
}
.u8644 label {
  left:0px;
  width:100%;
}
.u8645 label {
  left:0px;
  width:100%;
}
.u8646 label {
  left:0px;
  width:100%;
}
#u8632 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:280px;
  width:190px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u8649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
.u8649 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:147px;
  width:97px;
  height:30px;
  display:flex;
}
.u8649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:494px;
}
.u8650 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:328px;
  height:494px;
  display:flex;
}
.u8650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:400px;
}
.u8651 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:11px;
  width:300px;
  height:400px;
  display:flex;
}
.u8651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
.u8652 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:463px;
  width:186px;
  height:16px;
  display:flex;
  text-align:right;
}
.u8652 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u8653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u8653 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:463px;
  width:72px;
  height:18px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u8653 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u8654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
.u8654 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:20px;
  width:28px;
  height:26px;
  display:flex;
}
.u8654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
.u8655 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:428px;
  width:57px;
  height:16px;
  display:flex;
  color:#169BD5;
}
.u8655 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u8656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
.u8656 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:428px;
  width:58px;
  height:16px;
  display:flex;
  color:#169BD5;
}
.u8656 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u8657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
.u8657 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:22px;
  width:21px;
  height:21px;
  display:flex;
}
.u8657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.333333333333333);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u8658 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:370px;
  width:300px;
  height:41px;
  display:flex;
}
.u8658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.u8659 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:382px;
  width:72px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.u8659 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u8660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
.u8660 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:20px;
  width:21px;
  height:21px;
  display:flex;
}
.u8660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8648-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:492px;
}
#u8648-2 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:0px;
  width:327px;
  height:492px;
}
#u8648-3 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:0px;
  width:327px;
  height:492px;
}
#u8648-4 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:0px;
  width:327px;
  height:492px;
}
#u8648-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:327px;
  height:492px;
}
#u8648-6 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:539px;
  width:327px;
  height:492px;
}
#u8648-7 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:539px;
  width:327px;
  height:492px;
}
#u8648-8 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:539px;
  width:327px;
  height:492px;
}
#u8648 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:337px;
  width:1545px;
  height:1031px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:31px;
}
#u8661 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:279px;
  width:304px;
  height:31px;
  display:flex;
  color:#797979;
}
#u8661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
