body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-55px;
  width:1855px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:284px;
  width:100px;
  height:40px;
  display:flex;
}
#u736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:124px;
  width:50px;
  height:80px;
  display:flex;
}
#u737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:218px;
  width:42px;
  height:16px;
  display:flex;
}
#u738 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u738_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:371px;
  width:100px;
  height:40px;
  display:flex;
}
#u739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:459px;
  width:100px;
  height:40px;
  display:flex;
}
#u740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:546px;
  width:100px;
  height:40px;
  display:flex;
}
#u741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:731px;
  width:100px;
  height:40px;
  display:flex;
}
#u742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:124px;
  width:60px;
  height:80px;
  display:flex;
}
#u743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:621px;
  width:100px;
  height:60px;
  display:flex;
}
#u744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:808px;
  width:100px;
  height:60px;
  display:flex;
}
#u745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:927px;
  width:100px;
  height:60px;
  display:flex;
}
#u746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:324px;
  width:0px;
  height:0px;
}
#u747_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:52px;
}
#u747_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:28px;
  width:34px;
  height:34px;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:411px;
  width:0px;
  height:0px;
}
#u748_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:53px;
}
#u748_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:29px;
  width:34px;
  height:34px;
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:499px;
  width:0px;
  height:0px;
}
#u749_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:52px;
}
#u749_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:28px;
  width:34px;
  height:34px;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:586px;
  width:0px;
  height:0px;
}
#u750_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:40px;
}
#u750_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:16px;
  width:34px;
  height:34px;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:651px;
  width:0px;
  height:0px;
  color:#F04044;
}
#u751_seg0 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-5px;
  width:48px;
  height:10px;
}
#u751_seg1 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-90px;
  width:10px;
  height:95px;
}
#u751_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-90px;
  width:48px;
  height:10px;
}
#u751_seg3 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-102px;
  width:34px;
  height:34px;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:681px;
  width:0px;
  height:0px;
  color:#06A247;
}
#u752_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u752_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:31px;
  width:34px;
  height:34px;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:771px;
  width:0px;
  height:0px;
}
#u753_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u753_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:14px;
  width:295px;
  height:10px;
}
#u753_seg2 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:14px;
  width:10px;
  height:23px;
}
#u753_seg3 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:18px;
  width:34px;
  height:34px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:92px;
  top:11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:838px;
  width:0px;
  height:0px;
  color:#F04044;
}
#u754_seg0 {
  border-width:0px;
  position:absolute;
  left:-376px;
  top:-5px;
  width:376px;
  height:10px;
}
#u754_seg1 {
  border-width:0px;
  position:absolute;
  left:-376px;
  top:-277px;
  width:10px;
  height:282px;
}
#u754_seg2 {
  border-width:0px;
  position:absolute;
  left:-376px;
  top:-277px;
  width:91px;
  height:10px;
}
#u754_seg3 {
  border-width:0px;
  position:absolute;
  left:-304px;
  top:-289px;
  width:34px;
  height:34px;
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:-414px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:868px;
  width:0px;
  height:0px;
  color:#06A247;
}
#u755_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:64px;
}
#u755_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:40px;
  width:34px;
  height:34px;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1056px;
  width:100px;
  height:60px;
  display:flex;
}
#u756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1176px;
  width:100px;
  height:40px;
  display:flex;
}
#u757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:1116px;
  width:0px;
  height:0px;
  color:#06A247;
}
#u758_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u758_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:41px;
  width:34px;
  height:34px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1086px;
  width:0px;
  height:0px;
  color:#F04044;
}
#u759_seg0 {
  border-width:0px;
  position:absolute;
  left:-419px;
  top:-5px;
  width:419px;
  height:10px;
}
#u759_seg1 {
  border-width:0px;
  position:absolute;
  left:-419px;
  top:-525px;
  width:10px;
  height:530px;
}
#u759_seg2 {
  border-width:0px;
  position:absolute;
  left:-419px;
  top:-525px;
  width:134px;
  height:10px;
}
#u759_seg3 {
  border-width:0px;
  position:absolute;
  left:-304px;
  top:-537px;
  width:34px;
  height:34px;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:-464px;
  top:-125px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:737px;
  width:1px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u760_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:218px;
  width:56px;
  height:16px;
  display:flex;
}
#u761 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u761_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:737px;
  width:144px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u762 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u762_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:927px;
  width:100px;
  height:60px;
  display:flex;
}
#u763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:957px;
  width:0px;
  height:0px;
  color:#F04044;
}
#u764_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:173px;
  height:10px;
}
#u764_seg1 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:-17px;
  width:34px;
  height:34px;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-15px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:957px;
  width:0px;
  height:0px;
  color:#F04044;
}
#u765_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:22px;
  height:10px;
}
#u765_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-396px;
  width:10px;
  height:401px;
}
#u765_seg2 {
  border-width:0px;
  position:absolute;
  left:-553px;
  top:-396px;
  width:575px;
  height:10px;
}
#u765_seg3 {
  border-width:0px;
  position:absolute;
  left:-568px;
  top:-408px;
  width:34px;
  height:34px;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:-114px;
  top:-398px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:987px;
  width:0px;
  height:0px;
  color:#06A247;
}
#u766_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:74px;
}
#u766_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:50px;
  width:34px;
  height:34px;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:987px;
  width:0px;
  height:0px;
  color:#06A247;
}
#u767_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:104px;
}
#u767_seg1 {
  border-width:0px;
  position:absolute;
  left:-218px;
  top:94px;
  width:223px;
  height:10px;
}
#u767_seg2 {
  border-width:0px;
  position:absolute;
  left:-233px;
  top:82px;
  width:34px;
  height:34px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:92px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#4077F0;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:983px;
  width:168px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#4077F0;
}
#u768 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u768_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:1026px;
  width:928px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u769 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u769_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:1142px;
  width:928px;
  height:54px;
  display:flex;
  font-size:16px;
}
#u770 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u770_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:1075px;
  width:535px;
  height:54px;
  display:flex;
  font-size:16px;
}
#u771 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#4077F0;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:779px;
  width:126px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#4077F0;
}
#u772 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u772_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:822px;
  width:336px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u773 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u773_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:853px;
  width:448px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u774 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u774_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:883px;
  width:320px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u775 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u775_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:914px;
  width:288px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u776 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u776_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:944px;
  width:240px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u777 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u777_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
