body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-21px;
  width:1316px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u10788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
.u10788 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:147px;
  width:97px;
  height:30px;
  display:flex;
}
.u10788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u10788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u10789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u10789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:513px;
  display:flex;
}
.u10789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u10789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u10790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:356px;
}
.u10790 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:13px;
  width:267px;
  height:356px;
  display:flex;
}
.u10790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u10790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u10791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u10791 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:428px;
  width:186px;
  height:16px;
  display:flex;
}
.u10791 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u10791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u10792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u10792 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:428px;
  width:72px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u10792 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u10792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u10793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
  background:inherit;
  background-color:rgba(142, 142, 142, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u10793 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:469px;
  width:79px;
  height:27px;
  display:flex;
}
.u10793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u10793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u10794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 95, 249, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u10794 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:469px;
  width:76px;
  height:27px;
  display:flex;
}
.u10794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u10794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u10795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
.u10795 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:388px;
  width:28px;
  height:26px;
  display:flex;
}
.u10795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u10795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u10796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
.u10796 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:390px;
  width:25px;
  height:23px;
  display:flex;
}
.u10796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u10796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u10797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
.u10797 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:394px;
  width:57px;
  height:16px;
  display:flex;
  color:#169BD5;
}
.u10797 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u10797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u10798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
.u10798 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:394px;
  width:58px;
  height:16px;
  display:flex;
  color:#169BD5;
}
.u10798 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u10798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u10799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
.u10799 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:391px;
  width:21px;
  height:21px;
  display:flex;
}
.u10799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u10799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10787-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:513px;
}
#u10787-2 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:0px;
  width:317px;
  height:513px;
}
#u10787-3 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:0px;
  width:317px;
  height:513px;
}
#u10787-4 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:0px;
  width:317px;
  height:513px;
}
#u10787-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:529px;
  width:317px;
  height:513px;
}
#u10787 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:29px;
  width:1316px;
  height:1042px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
