body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2762px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1186px;
}
#u8781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1186px;
  display:flex;
}
#u8781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:51px;
}
#u8782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:318px;
  width:257px;
  height:51px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u8783 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:267px;
  width:36px;
  height:26px;
  display:flex;
}
#u8783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8784 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:129px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u8784 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8784_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1616px;
  height:1332px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(183, 183, 183, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8785 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:198px;
  width:1616px;
  height:1332px;
  display:flex;
  text-align:left;
}
#u8785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8787 {
  border-width:0px;
  position:absolute;
  left:1783px;
  top:210px;
  width:86px;
  height:29px;
  display:flex;
}
#u8787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1617px;
  height:2px;
}
#u8788 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:249px;
  width:1616px;
  height:1px;
  display:flex;
}
#u8788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8789 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:727px;
  width:1px;
  height:16px;
  display:flex;
}
#u8789 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8789_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u8791 {
  border-width:0px;
  position:absolute;
  left:1679px;
  top:270px;
  width:84px;
  height:17px;
  display:flex;
  color:#169BD5;
}
#u8791 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8791_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8792 {
  border-width:0px;
  position:absolute;
  left:1952px;
  top:94px;
  width:66px;
  height:48px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8792 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8792_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:16px;
}
#u8793 {
  border-width:0px;
  position:absolute;
  left:1952px;
  top:153px;
  width:810px;
  height:144px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:16px;
}
#u8793 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8793_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:16px;
}
#u8794 {
  border-width:0px;
  position:absolute;
  left:1952px;
  top:316px;
  width:630px;
  height:139px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:16px;
}
#u8794 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8794_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8795 {
  border-width:0px;
  position:absolute;
  left:1952px;
  top:439px;
  width:167px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8795 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8795_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8796 {
  border-width:0px;
  position:absolute;
  left:1947px;
  top:487px;
  width:324px;
  height:48px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8796 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8796_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0079FE;
}
#u8797 {
  border-width:0px;
  position:absolute;
  left:969px;
  top:1458px;
  width:227px;
  height:51px;
  display:flex;
  font-size:16px;
  color:#0079FE;
}
#u8797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8798 {
  border-width:0px;
  position:absolute;
  left:1947px;
  top:547px;
  width:316px;
  height:99px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u8798 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8798_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:236px;
}
#u8800 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:1458px;
  width:450px;
  height:236px;
  display:flex;
}
#u8800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:2px;
}
#u8801 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1502px;
  width:453px;
  height:1px;
  display:flex;
}
#u8801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8802 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:1469px;
  width:96px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8802 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8802_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u8803 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:1467px;
  width:40px;
  height:25px;
  display:flex;
}
#u8803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8804 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:1553px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8804 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8804_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8805 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:1597px;
  width:48px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8805_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8806 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1553px;
  width:162px;
  height:16px;
  display:flex;
  font-size:16px;
}
#u8806 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8806_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u8807 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:1597px;
  width:160px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u8807 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8807_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u8808 {
  border-width:0px;
  position:absolute;
  left:1776px;
  top:270px;
  width:1px;
  height:15px;
  display:flex;
}
#u8808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u8809 {
  border-width:0px;
  position:absolute;
  left:1795px;
  top:271px;
  width:56px;
  height:16px;
  display:flex;
  color:#169BD5;
}
#u8809 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8809_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u8811 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:213px;
  width:100px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u8811 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8811_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u8813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
.u8813 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:147px;
  width:97px;
  height:30px;
  display:flex;
}
.u8813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:524px;
}
.u8814 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:328px;
  height:524px;
  display:flex;
}
.u8814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:400px;
}
.u8815 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:11px;
  width:300px;
  height:400px;
  display:flex;
}
.u8815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
.u8816 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:463px;
  width:186px;
  height:16px;
  display:flex;
  text-align:right;
}
.u8816 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u8817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u8817 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:463px;
  width:72px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u8817 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u8818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
.u8818 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:20px;
  width:28px;
  height:26px;
  display:flex;
}
.u8818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
.u8819 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:428px;
  width:57px;
  height:16px;
  display:flex;
  color:#169BD5;
}
.u8819 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u8820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
.u8820 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:428px;
  width:58px;
  height:16px;
  display:flex;
  color:#169BD5;
}
.u8820 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u8821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
.u8821 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:22px;
  width:21px;
  height:21px;
  display:flex;
}
.u8821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.333333333333333);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u8822 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:370px;
  width:300px;
  height:41px;
  display:flex;
}
.u8822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.u8823 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:382px;
  width:127px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.u8823 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u8824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
.u8824 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:20px;
  width:21px;
  height:21px;
  display:flex;
}
.u8824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u8825 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:491px;
  width:39px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u8825 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8825_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u8826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u8826 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:491px;
  width:39px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
.u8826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8826_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u8827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u8828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:236px;
}
.u8828 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:457px;
  width:450px;
  height:236px;
  display:flex;
}
.u8828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:2px;
}
.u8829 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:501px;
  width:453px;
  height:1px;
  display:flex;
}
.u8829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
.u8830 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:468px;
  width:96px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
.u8830 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8830_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u8831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
.u8831 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:552px;
  width:64px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
.u8831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8831_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u8832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
.u8832 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:596px;
  width:48px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
.u8832 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8832_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u8833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
.u8833 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:552px;
  width:162px;
  height:16px;
  display:flex;
  font-size:16px;
}
.u8833 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8833_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u8834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
.u8834 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:596px;
  width:160px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
.u8834 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8834_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8812-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:522px;
}
#u8812-2 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:0px;
  width:327px;
  height:522px;
}
#u8812-3 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:0px;
  width:327px;
  height:522px;
}
#u8812-4 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:0px;
  width:327px;
  height:522px;
}
#u8812-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:569px;
  width:327px;
  height:522px;
}
#u8812-6 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:569px;
  width:327px;
  height:522px;
}
#u8812-7 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:569px;
  width:327px;
  height:522px;
}
#u8812-8 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:569px;
  width:327px;
  height:522px;
}
#u8812 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:333px;
  width:1545px;
  height:1091px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:29px;
}
#u8835 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:279px;
  width:72px;
  height:29px;
  display:flex;
}
#u8835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u8836 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:285px;
  width:98px;
  height:16px;
  display:flex;
  color:#797979;
}
#u8836 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8836_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8837_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8837_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:29px;
}
#u8837 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:279px;
  width:162px;
  height:29px;
  display:flex;
  color:#797979;
}
#u8837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8837_img.disabled {
}
#u8837.disabled {
}
.u8839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u8840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
.u8840 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:0px;
  width:148px;
  height:30px;
  display:flex;
  color:#08A3D9;
}
.u8840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
.u8841 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:11px;
  width:14px;
  height:9px;
  display:flex;
  color:#08A3D9;
}
.u8841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(8, 163, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#08A3D9;
}
.u8842 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:5px;
  width:46px;
  height:20px;
  display:flex;
  color:#08A3D9;
}
.u8842 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8842_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u8843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(8, 163, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#08A3D9;
}
.u8843 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:5px;
  width:60px;
  height:20px;
  display:flex;
  color:#08A3D9;
}
.u8843 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u8844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u8845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:139px;
}
.u8845 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:30px;
  width:148px;
  height:139px;
  display:flex;
  color:#797979;
}
.u8845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u8847 label {
  left:0px;
  width:100%;
}
.u8847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
.u8847 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:42px;
  width:100px;
  height:15px;
  display:flex;
  color:#797979;
}
.u8847 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u8847_img.selected {
}
.u8847.selected {
}
.u8847_img.disabled {
}
.u8847.disabled {
}
.u8847_img.selectedDisabled {
}
.u8847.selectedDisabled {
}
.u8847_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
.u8847_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
.u8848 label {
  left:0px;
  width:100%;
}
.u8848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
.u8848 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:63px;
  width:100px;
  height:15px;
  display:flex;
  color:#797979;
}
.u8848 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u8848_img.selected {
}
.u8848.selected {
}
.u8848_img.disabled {
}
.u8848.disabled {
}
.u8848_img.selectedDisabled {
}
.u8848.selectedDisabled {
}
.u8848_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
.u8848_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
.u8849 label {
  left:0px;
  width:100%;
}
.u8849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
.u8849 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:83px;
  width:100px;
  height:15px;
  display:flex;
  color:#797979;
}
.u8849 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u8849_img.selected {
}
.u8849.selected {
}
.u8849_img.disabled {
}
.u8849.disabled {
}
.u8849_img.selectedDisabled {
}
.u8849.selectedDisabled {
}
.u8849_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
.u8849_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
.u8850 label {
  left:0px;
  width:100%;
}
.u8850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
.u8850 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:102px;
  width:100px;
  height:15px;
  display:flex;
  color:#797979;
}
.u8850 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u8850_img.selected {
}
.u8850.selected {
}
.u8850_img.disabled {
}
.u8850.disabled {
}
.u8850_img.selectedDisabled {
}
.u8850.selectedDisabled {
}
.u8850_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
.u8850_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
.u8851 label {
  left:0px;
  width:100%;
}
.u8851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
.u8851 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:122px;
  width:100px;
  height:15px;
  display:flex;
  color:#797979;
}
.u8851 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u8851_img.selected {
}
.u8851.selected {
}
.u8851_img.disabled {
}
.u8851.disabled {
}
.u8851_img.selectedDisabled {
}
.u8851.selectedDisabled {
}
.u8851_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
.u8851_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
.u8852 label {
  left:0px;
  width:100%;
}
.u8852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
.u8852 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:142px;
  width:100px;
  height:15px;
  display:flex;
  color:#797979;
}
.u8852 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
.u8852_img.selected {
}
.u8852.selected {
}
.u8852_img.disabled {
}
.u8852.disabled {
}
.u8852_img.selectedDisabled {
}
.u8852.selectedDisabled {
}
.u8852_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
.u8852_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
.u8853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
.u8853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:42px;
  height:16px;
  display:flex;
  color:#797979;
}
.u8853 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u8853_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8838-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
.u8847 label {
  left:0px;
  width:100%;
}
.u8848 label {
  left:0px;
  width:100%;
}
.u8849 label {
  left:0px;
  width:100%;
}
.u8850 label {
  left:0px;
  width:100%;
}
.u8851 label {
  left:0px;
  width:100%;
}
.u8852 label {
  left:0px;
  width:100%;
}
#u8838 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:280px;
  width:190px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:31px;
}
#u8854 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:279px;
  width:304px;
  height:31px;
  display:flex;
  color:#797979;
}
#u8854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
