body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-3889px;
  width:588px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u10782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:454px;
}
.u10782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:262px;
  height:444px;
  display:flex;
}
.u10782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u10782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u10783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
.u10783 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:367px;
  width:96px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
.u10783 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u10783_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u10784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:320px;
}
.u10784 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:240px;
  height:320px;
  display:flex;
}
.u10784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u10784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u10785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u10785 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:404px;
  width:240px;
  height:15px;
  display:flex;
}
.u10785 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u10785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u10786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u10786 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:342px;
  width:56px;
  height:16px;
  display:flex;
}
.u10786 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u10786_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10781-1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:262px;
  height:445px;
}
#u10781-2 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:16px;
  width:262px;
  height:445px;
}
#u10781 {
  border-width:0px;
  position:absolute;
  left:3889px;
  top:295px;
  width:588px;
  height:477px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
